body {
  text-align: center;
  margin: 0 auto;
  background: whitesmoke;
  padding: 0 4px;
}

.MuiGrid-container-1 .MuiGrid-spacing-xs-8-22 {
  max-height: 100vh;
}

#roomList {
  height: 50vh;
  overflow-y: scroll;
}

#messageList {
  height: 66vh;
  overflow-y: scroll;
}

.noRoomSelected h2 {
  height: 100%;
  font-size: 2em;
}

.MuiGrid-spacing-xs-8-22 > .MuiGrid-item-2 {
  padding-top: 5vh !important;
}

/* Edit and delete icon hover */

.roomItem > span,
.singleMessage > span {
  margin: 0 4px;
  text-align: center;
  width: 0;
  display: inline-flex;
  transition: 0.3s linear;
  opacity: 0;
}

.roomItem:hover > span,
.singleMessage:hover > span {
  display: inline-block;
  width: 20px;
  opacity: 1;
}

.fa-comment,
.fa-minus-circle {
  color: #ff5722 !important;
}

.fa-edit {
  color: #4caf50;
}

.userInfo {
  padding: 3vh 0;
}

/* Long room name styling */

.roomItem h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Buttons */

.classListField,
.classListButton,
.messageButton {
  width: 100%;
}

.activeUser p {
  color: #4caf50;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.otherUser p {
  color: #ff5722;
}

.MuiTypography-root-129.noRoomSelected {
  margin-top: 200px;
}

#messageList,
#roomList {
  background: white !important;
  margin: 10px 0;
  padding: 0;
}

.userName {
  padding: 14px 0;
}

.leftArea {
  background: white;
  height: 94vh;
}
